.app-auth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.login__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.login__heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.login__loading {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 534px;
  background-color: #222222;
  border-radius: 12px;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.login__card {
  width: 100%;
  max-width: 320px;
  padding: 32px 24px;
  background-color: #222222;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
}

.login__label {
  display: block;
  margin-top: 5px;
  color: #F15857;
}

.login__or {
  font-size: 13px;
  color: #656565;
}

@media (max-width: 450px) {
  .login__header {
    gap: 3.56vw;
  }
  
  .login__heading {
    font-size: 4.44vw;
    line-height: 5.33vw;
  }
  
  .login__form {
    gap: 3.56vw;
  }
  
  .login__card {
    max-width: 71.11vw;
    padding: 7.11vw 5.33vw;
    border-radius: 2.67vw;
  }
  
  .login__label {
    margin-top: 1.11vw;
  }
  
  .login__or {
    font-size: 2.89vw;
  }
}