.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  height: 48px;

  svg {
    max-width: 134px;
    height: 100%;
  }
}

.header__btn {
  display: block;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background-color: transparent;
  transition: background-color ease .2s;

  &:hover {
    background-color: #333333;
  }
}

@media (max-width: 450px) {

  .header {
    padding-top: 5.33vw;
    padding-bottom: 5.33vw;
  }

  .header__logo {
    height: 10.67vw;
  
    svg {
      max-width: 29.78vw;
    }
  }
  
  .header__btn {
    height: 10.67vw;
    font-size: 3.56vw;
    line-height: 4.22vw;
  }
}