.post-card__item {
  width: 100%;
  padding: 25px 30px;
  background-color: #222222;
  border: 1px solid #828282;
  border-radius: 20px;
}

.post-card__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.post-card__header-content {
    display: flex;
  align-items: center;

  img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }
}

.post-card__body {
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 14px;
  overflow: hidden;
  line-height: 160%;
}

.post-card__header-description {
  margin-left: 15px;

  h5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }
  span {
    display: block;
    margin-top: 3px;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.6);
  }
}

.post-card__modal-btn {
  width: 30px;
  height: 8px;
  background-image: url(../../assets/post-dots.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
}

.post-card__modal-content {
  width: 174px;
  padding: 16px;
  position: absolute;
  right: 0;
  top: 30px;
  opacity: 0;
  visibility: hidden;
  background: #292929;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: all ease .4s;
}

.post-card__modal-content_active {
  opacity: 1;
  visibility: visible;
}

.post-card__modal-content-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  background-color: transparent;
}

.post-card__btns {
  display: flex;
  gap: 10px;
}

@media (max-width: 450px) {
  .post-card__item {
    padding: 5.56vw 6.67vw;
    border-radius: 4.44vw;
  }
  
  .post-card__header {
    img {
      width: 12.44vw;
      height: 12.44vw;
    }
  }
  
  .post-card__body {
    margin-top: 2.22vw;
    margin-bottom: 1.78vw;
    font-size: 3.11vw;
  }
  
  .post-card__header-description {
    margin-left: 3.33vw;
  
    h5 {
      font-size: 3.11vw;
      line-height: 3.56vw;
    }
    span {
      margin-top: 0.67vw;
      font-size: 2.67vw;
      line-height: 3.11vw;
    }
  }

  .post-card__modal-btn {
    width: 6.67vw;
    height: 1.78vw;
  }

  .post-card__modal-content {
    width: 38.67vw;
    padding: 3.56vw;
    top: 6.67vw;
    box-shadow: 0.89vw 0.89vw 0.89vw rgba(0, 0, 0, 0.25);
    border-radius: 2.22vw;
  }

  .post-card__modal-content-btn {
    font-size: 3.56vw;
  }
}