.post-card__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  height: 500px;
  overflow-y: scroll;
}

.post-card__list::-webkit-scrollbar {
  width: 0px;               
}

@media (max-width: 450px) {
  .post-card__list {
    max-width: 146.67vw;
    gap: 4.44vw;
    height: 111.11vw; 
  }
}