.users-list__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.users-list__item {
  display: flex;
  align-items: center;
  gap: 24px;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  button {
    margin-top: 4px;
    background-color: transparent;
    font-size: 12px;
    line-height: 14px;
    color: #7190E6;
  }
}

@media (max-width: 450px) {
  .users-list__list {
    gap: 5.56vw;
  }
  
  .users-list__item {
    gap: 5.56vw;
  
    img {
      width: 17.78vw;
      height: 17.78vw;
    }
  
    h2 {
      font-size: 3.56vw;
      line-height: 4.22vw;
    }
  
    button {
      margin-top: 0.89vw;
      font-size: 2.67vw;
      line-height: 3.11vw;
    }
  }
}