.main__container {
  display: flex;
  gap: 20px;
}

.main-section {
  width: 100%;
}

.main__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media(max-width: 824px) {
  .main__container {
    gap: 0px;
  }
}
