.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #010001;
  padding: 30px;
}

.app__content {
  width: 100%;
  max-width: 1280px;
  height: 720px;
  overflow: hidden;
  background-color: #141414;
  border-radius: 40px;
  position: relative;
}


.main__container {
  display: flex;
  gap: 20px;
}

.main__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media(max-width: 824px) {

  .app {
    padding: 0px;
  }

  .app__content {
    border-radius: 10px;
  }
  
  .main__container {
    gap: 0px;
  }
}

@media(max-width: 450px) {
  .app__content {
    height: 160vw;
  }
}