.message__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.message__item {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px rgba(130, 130, 130, 1);
}

.message__item-content {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.message__item-content_finded {
  gap: 20px;
}

.message__image {
  width: 100%;
  max-width: 64px;
  height: 64px;
  border-radius: 50%;
}

.message__about {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 16px;

  h4 {
    font-size: 14px;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.6);
  }

  span {
    color: rgba(255, 255, 255, 0.6);
  }
}

.message__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px
}

.message-page__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  padding: 15px 20px;
  background-color: #222222;
  border: 1px solid #828282;
  border-radius: 16px;
  margin-bottom: 24px;
}

.message-page__search-input {
  width: 100%;
  font-size: 16px;
  background-color: transparent;
}

.message-page__search-btn {
  flex-shrink: 0;
}

@media (max-width: 450px) {

  .message__list {
    gap: 5.33vw;
  }

  .message-page__search {
    gap: 4.44vw;
    padding: 3.33vw 4.44vw;
    border-radius: 3.56vw;
    margin-bottom: 3.56vw;
  }
  
  .message-page__search-input {
    font-size: 3.56vw;
  }

  .message__item {
    margin-top: 4.44vw;
    margin-bottom: 4.44vw;
    padding-bottom: 4.44vw;
  }
  
  .message__item-content_finded {
    gap: 4.44vw;
  }
  
  .message__image {
    max-width: 14.22vw;
    height: 14.22vw;
  }

  .message__about {
    margin-left: 3.56vw;
  
    h4 {
      font-size: 3.11vw;
    }

    span {
      font-size: 3.11vw;
    }
  }
  
  .message__name {
    font-size: 4vw;
    line-height: 4.67vw
  } 
  
}